
.encabezado{
    background-color: #5300C8;
    color: #c004d9;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 3px 3px gray;
    

}


h1{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;   
    font-size: 24px;
    
    }
h2{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;   
    font-size: 24px;
    margin-bottom: 25px;
    
    
    
}

.container_main{
    display: flex;
    margin: 70px 50px;

}
section{
        width: 50%;
}

/*.productos-flex-container{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;

}*/
.container_cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;

}

.card{  
    background-color: #5300C8;
    padding-left: 5px;
    padding-top: 10px;
    border: 3px solid #000;
    border-radius: 16px;
    width: 245px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    
}

.card-img-container{
    border: 3px solid #000;
    border-radius: 16px;
}
.card-container--info{
    margin-left: 5PX;
    margin-top: 5px;
}

.card-container--value{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    

}
.card-container--value img{
    margin-right: 10px;
    margin-bottom: 12px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formulario input{
    margin: 10px;
    padding: 6px;
    border: 2px solid #03318c;
    border-radius: 24px;
    height: 28px;
    padding-left: 10px;
    font-size: 16px;
    color: #03318c;
    

}
.formulario input::placeholder{
    color: #03318c;
    font-size: 16px;
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;

}
.form__boton{
    height: 55px;
    width: 200px;
    background-color: white;
    border: 3px solid #03318c;
    color: #03318c;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    padding:  16px 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    

    

}
.form__boton:hover{
    background-color: #03318c;
    color: white;
  

}

footer{
    background-color: #5300C8;
    height: 120px;
    padding: 50px;
    box-shadow: -2px -2px 0px 2px gray;
    

}
.footer-flex-container{
    color: #c004d9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 

}
.rodapie{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.rodapie p{
    margin-bottom: 4px;
}